

/*-Al tener problemas con Mediaquery decidí hacer la task de 0.
    -Supuse que si las bases estaban mal sentadas era más trabajo tratar de arreglarlo que hacerlo bien
    ahora que se lo que es flex y mediaquery. Edit: Tenía razón, fue mucho más fácil corregir el mediaquery. 
-He cambiado la paleta de colores usandos gradientes y nuevas fonts como mostró Kevin en un workshop.
-Eh usado sombras en los h1 con la página que compartió Flor en clases.
-He aprovechado de usar sólo flex como se me recomendó en los comentarios de la task3.
-He usado el truco de poner un borde rojo a todo al inicio para ver cada cosa y 
    el espacio que usaba, lo he borrado al terminar, tremendo.
-He dado dimensiones al header, main y footer desde un inicio a todas las páginas para adaptarme el diseño.
-He dejado funcionales los links de email y tel, también sugerido en los comentarios.
-He usado div sólo para englobar 2 o más items también sugerido en la task 3.

-No estoy contento con el resultado de Mediaquery, entiendo por qué se prefiere trabajar con Mobile First.
-Bajo los 320px de pantalla el mediaquery se destruye, desconozco si es algo normal.

-He subido a github el repo de la task 4: https://github.com/miquelmarco/task4v2.0
-También lo he mandado en el rar por plataforma.

Saludos, buen día! No se estresen corrigiendo tanto :D */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
main{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    height: 10vh;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
.logo{
    width: 5rem;
    height: 5rem;
}
h1{
    font-size: 4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1, h2{
    font-family: 'Nova Oval', cursive;
    color: rgb(194, 88, 106);
    margin: 1rem;
}
nav a{
    font-family: 'Nova Oval', cursive;
    color: rgb(243, 233, 242);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
nav a:hover{
    color: darkmagenta;
    font-size: xx-large;
}
h1:hover{
    color: darkmagenta;
    transform: scale(1.1);
}

/* Up share between pages */

/* Down home edit */

#homemain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#homeimg1{
    width: 60%;
    height: 35vh;
    object-fit: cover;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
#homeimg2{
    width: 25%;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
.homecontainer{
    display: flex;
    justify-content: center;
    font-family: 'Nova Oval', cursive;
    color: rgb(194, 88, 106);
}
#txtmain{
    width: 30%;
    text-align: center;
    color: rgb(66, 3, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}

/* Down about us edit */


#aboutmain{
    display: flex;
    flex-direction: column;
}
.aboutbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutimg{
    width: 30rem;
    height: 20rem;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
.abouttxt{
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    width: 25rem;
    border-radius: 1rem;
    font-family: 'Nova Oval', cursive;
    color: rgb(66, 3, 45);
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}

/* Down contact page edit */

#contactimg{
    width: 40%;
    height: 40%;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
#contacttxt{
    border-radius: 1rem;
    font-family: 'Nova Oval', cursive;
    color: rgb(66, 3, 45);
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
#contactfoo{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
footer a{
    font-family: 'Nova Oval', cursive;
    color: rgb(102, 52, 85);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-weight: 800;
    font-size: large;
}
footer a:hover{
    color: rgb(173, 7, 110)
}

/* Information page edit */

#informationtable{
    text-align: center;
    font-family: 'Nova Oval', cursive;
    color: rgb(70, 6, 48);
    margin-top: 3rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
tr, td, th{
    padding: 2.5rem;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}

/* benefits page edit */

.benimg{
    width: 23rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
#bencontainer{
    display: flex;
}
#benlist{
    text-align: center;
    font-family: 'Nova Oval', cursive;
    color: rgb(139, 29, 101);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
ol>li{
    margin: 2rem;
}

/* raffle page edit */


form{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: 'Nova Oval', cursive;
    font-size: x-large;
    color: rgb(92, 6, 62);
    border-radius: 1rem;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
fieldset{
    margin: 2rem;
    padding: 1rem;
}
.textarea{
    display: flex;
    justify-content: center;
}
#submi{
    width: 5rem;
    height: 2rem;
}
#rafflecontainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
iframe{
    width:20%;
    height: 100%;
}
.raffleimg{
    width: 35rem;
    height: 30rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background: rgb(217,199,223);
    background: radial-gradient(circle, rgba(217,199,223,1) 1%, rgba(196,18,96,1) 100%);
}
.raffleimgcontainer{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    height: 100vh;
}

/* Mediaquery edit */

@media only screen and (min-width:320px) and (max-width:768px){
    
    /* home edit */
    
    header{
        height: 25vh;
    }
    nav a{
        display: flex;
        flex-direction: column;
        font-size: small;
    }
    nav a:hover{
        color: darkmagenta;
        font-size: small;
    }
    .homecontainer{
        display: flex;
        flex-direction: column;
    }
    #txtmain{
        width: 90%;
    }
    #homeimg2{
        width: 90%;
    }
    #homeimg1{
        width: 90%;
    }

    /* about us edit */

    h1{
        font-size: xx-large;
    }
    .aboutbox{
        display: flex;
        flex-direction: column;
    }
    .aboutimg{
        width: 100%;
    }
    .abouttxt{
        width: 80%;
    }

    /* contact edit */

    #contactimg{
        width: 70%;
        height: 70%;
    }
    #contacttxt{
        width: 70vw;
    }
    #contactfoo{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* information edit */

    td, th, tr{
        padding: 0;
        height: 8vh;
    }
    h1, h2{
        text-align: center;
    }

    /* benefits edit */

    .benimg{
        width: 80%;
    }
    #bencontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #benlist{
        width: 90%;
    }
    #benimgcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* raffle edit */

    #rafflecontainer{
        display: flex;
        flex-direction: column;
    }
    form{
        width: 90vw;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    fieldset{
        margin: 0;
        padding: 0;
    }
    textarea{
        width: 100%;
    }
    .raffleimg{
        width: 70%;
        height: 30%;
    }
    .raffleimgcontainer{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    iframe{
        width: 100vw;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    
    /* home edit */

    header{
        height: 25vh;
    }
    nav a{
        display: flex;
        flex-direction: column;
        font-size: large;
    }
    nav a:hover{
        color: darkmagenta;
        font-size: large;
    }

     /* about us edit */

     .aboutbox{
        display: flex;
        flex-direction: column;
    }
    .aboutimg{
        width: 80%;
    }
    .abouttxt{
        width: 80%;
    }

    /* contact edit */

    #contacttxt{
        width: 50vw;
    }

    /* information edit */

    td, th, tr{
        padding: 0;
        height: 7.5vh;
    }
    h1, h2{
        text-align: center;
    }

    /* benefits edit */

    /* raffle edit */

    #rafflecontainer{
        display: flex;
        flex-direction: column;
    }
    form{
        width: 90vw;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    fieldset{
        margin: 0;
        padding: 0;
    }
    textarea{
        width: 100%;
    }
    .raffleimg{
        width: 70%;
        height: 60%;
    }
    .raffleimgcontainer{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    iframe{
        width: 100vw;
    }

}   